.planningcontainer{
    width: 100%;
    /* max-width: 1440px; */
    display: flex;
    flex-direction: column;
}

.planningbody{
    width: 100%;
   padding: 42px 24px 28px 60px;
   background: #F5F5F7;
    display: flex;
     flex-direction: column;
     justify-content: center;
         align-items: center;
}

.planningHeading{
color: #000;
font-family: "Neue Montreal";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 90%;
padding-bottom: 30px;
}

.planningcontent-main{
    width: 1140px;
    margin-top: 30px;
    padding: 42px 32px;
     background-color: #ffffff;

}

.planningcontent{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

 .planningcontentleftcontent, .planningcontentrightcontent{
    text-align:left;
    justify-content: center;
    align-items: center;
}

.planningcontentleftcontentheading{
    margin: 0px 0px 30px 0px;
    font-size: 22.5px;
    font-weight: 700;
    font-family: 'Roboto';
}

.planningcontentleftcontent p{
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 540px;
}

.planningcontentrightcontent p{
    font-size: 18px;
    line-height: 160%;
    font-weight: 400;
     margin-top: 20px;
    margin-bottom: 20px;
    max-width: 540px;
}


hr{
    height: 1px;
    width: 1080px;
    text-align: center;
    color: #DEDEDE;
    margin: 40px 0px 22px 0px;
}
.planningcontent .planningcontentleft .planningaccordian{
  background: '#fff';
  box-shadow: '0px 10px 20px 0px rgba(144, 144, 144, 0.15)';
  padding:"5px 14px"
}

.planningcontent .planningcontentleft .planningaccordiantitle{
   
font-family: Roboto;
font-size: 22.5px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.planningcontent .planningcontentright{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   align-items: flex-start;
   width: 540px;
}

.planningbody .planninglogo{
    display: flex;
    gap: 15px;
    align-items: center;
}

.google-signup{
      width: 540px;
        height:60px;
        border: .75px solid #1880D6;
        background-color: #fff;
        font-family: Roboto;
        text-align:center;
        color:#9F9F9F;
        font-size:16px;
        font-weight:600;
        display: flex;
        justify-content: center;
}

.or{
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    text-align: center;
}

.name-field{
    display: flex;
    justify-content: space-between;
}

.planningbody .paymenttext{
color: #A4A4A4;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 18px */
}

.planningbody .paymenttext span{
color: #F47721;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}

.planning_help_chat_wrapper{
    
    margin: 50px 0px 20px 0px;
    background: #ffffff;
    padding: 37px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
line-height: 30px;
}

.planning1{
    width: 524px;
    height: 87px;
}

.vector{
    width: 16px;
    height: 16px;
}

.google-signup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-icon{
        width: 40px;
    height: 40px;
    margin-right: 5px;
}

.privacy{
    display:flex;
    max-width: 380px;
    margin: 15px 0px;
}

.checkbox{
width: 20px;
height: 20px;
background-color: #A4A4A4;
margin-right: 15px;

}
.term-condition, .new-account{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}


.term-condition a, .new-account a{
    font-size: 16px;
    font-weight: 500;
    color: #F47721;
}

 .new-account a span{
    color: #000 !important;
}

.planning-bar {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.planning-button{
    display: flex;
    justify-content: center;
}